{% extends "base.html" %}
{% load static %}
{% block title %}Aplică — {{ job.title }}{% endblock %}

{% block content %}
<section class="container">
  <h1>Aplică la: {{ job.title }}</h1>
  <p class="muted">{{ job.company.name }}</p>

  <form method="post" enctype="multipart/form-data" class="stack mt-2">
    {% csrf_token %}
    <div>
      <label for="{{ form.cover_letter.id_for_label }}">Scrisoare de intenție</label>
      {{ form.cover_letter }}
      {% if form.cover_letter.errors %}<div class="error">{{ form.cover_letter.errors }}</div>{% endif %}
    </div>
    <div>
      <label for="{{ form.cv.id_for_label }}">CV</label>
      {{ form.cv }}
      <small class="muted">PDF / DOC / DOCX, maxim 4MB</small>
      {% if form.cv.errors %}<div class="error">{{ form.cv.errors }}</div>{% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Trimite aplicația</button>
    <a class="btn btn-ghost" href="{% url 'jobs:detail' slug=job.slug %}">Înapoi la job</a>
  </form>
</section>
{% endblock %}